.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        position: relative;
    }
    &__close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0px;
        right: -42px;
        background-color: #191b26;
        border-radius: 50%;
    }
}